.my-nav{
    background: rgb(92, 46, 54);
}

.nav-link{
    color: white;
}

.nav-link:hover{
    color: grey;
}

.navbar-brand{
    color: white;
}

.navbar-brand:hover{
    color: grey;
}

.items{
    margin-right: 100px;
}

.nav-item{
    margin-right: 20px;
}

.banner-content{
    color: rgb(61, 31, 36);
    font-size: 50px;
    text-align:center;
    height: calc(100vh - 56px);
}

.banner-content h1{
    font-size: 70px;
    border-radius: 40px;
    background-color: white;
    margin-top: 60%;
    padding: 10px;
}

.banner-content a{
    font-size: 50px;
    color: rgb(61, 31, 36);
    padding: 10px;
    background-color: white;
    border-radius: 40px;
}

.text-area{
    background-color: rebeccapurple;
    height: 100px;
}

/* .card{
    width: 18rem;
    margin-bottom: 30px;
    margin-left: 10px;
}

.card img{
    
    height: 300px;
    
} */

.card{
    margin-bottom: 50px;
    height: 33%;
    width: 25%;
    margin-left: 50px;
}

.about-me a{
   color: white;
}

.about-me a:hover{
    color: white;
}

.mySlides{
 max-width: 100%;
}

.slides{
    position: relative;
    text-align: center;
}

.Idk{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel-inner{
    height: 800px;
}

.carousel-item{
    height: 880px;
}